html,body {
  height: 100%;
}

* {
    -moz-box-sizing: border-box;
}

body {
  background: #ededed url("images/4sbeach.jpeg") no-repeat center;
  color: #424242;
  margin: 0;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.428571429;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: hidden;
  background: linear-gradient(white, gray);
  opacity: 70%;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
}

li {
  display: inline;
}

li a {font-size:25px;color:#000;text-decoration:none;line-height:50px;padding:0 22px;overflow:hidden}
li a:hover, a {color:blue}

.text-center{text-align:center}

